@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Zen+Kurenaido&display=swap');
body{
  padding-top: 20px;
   font-family:'poppins',sans-serif;
}
.container {
    border: 1px solid black;
    margin: 25px;
    /* padding: 16px; */
    border-radius: 40px;
    background-image: linear-gradient(to left, #faf9f9,rgb(163, 155, 196), #19f3aa);
    font-style: italic;
    font-family: 'Courgette', cursive;
   flex-wrap: wrap;
   
  }
  div {
    text-align: center;
        font-size: 18px;
  }
  span{
    font-weight: bold;
  }
  .image {
    
    width: 400px;
    height: 450px;
    object-fit:contain;
  }
  p {
    text-indent: 50px;
    text-align: justify;
  }
  h1{
    text-transform: uppercase;
    text-align: center;
  }